.THIS .message-box{
    width: 100%;
    margin-bottom: 16px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.THIS .border-right {
    border-right:1px solid #F0F0F0;
}

.THIS .border-left {
    border-left:1px solid #F0F0F0;
}

.THIS .message-image {
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    height: 256px !important;
    width: auto !important;
    max-width: unset !important;
}
.THIS .date {
    color:#9B9B9B;
    margin-top:2px;
}