.THIS .section-heading{
    font-size: 16px;
    color:#706E6B;
    font-weight: 300;
}

.THIS .border-right {
    position: relative;
}

.THIS .border-right::after {
    content: "";
    position: absolute;
    top: 50px;
    right: 0px;
    height: 480px;
    width: 0px;
    border-right: 1px solid #F0F2F7;
}

.THIS .subtitle {
    font-size: 14px;
    margin-top: 16px;
}

.THIS .infoblock {
    font-size: 13px;
    margin-top: 12px;
    color: #3E3E3C;
    display: flex;
    flex-direction: row;
}

.THIS .infoblock-calendar {
    font-size: 13px;
    margin-top: 8px;
    color: #3E3E3C;
    display: flex;
    flex-direction: row;
}

.THIS .infoblock-calendar .icon-text {
    padding-top: 0px;
}

.THIS .icon {
    margin-left: 16px;
    margin-right: 32px;
}

.THIS .icon-text {
    padding-top: 2px;
}


.THIS .continuous-block {
    margin-top: 8px;
    padding-left: 16px;
    font-style: italic;
    color: #9B9B9B;
    font-size: 13px;
}

.THIS .map {
    margin-top: 12px;
    margin-left: 8px;
}

.THIS .image-block{
    width: 320px;
    height: auto;
    margin-left: -16px;
    margin-top: 12px;
}

.THIS .icon-text-placeholder {
    padding-top: 2px;
    font-style: italic;
    color: #9B9B9B;
    font-size: 13px;
}

.THIS .button-block {
    margin-left: 48px;
    margin-top: 16px;
    font-size: 13px;
}

.THIS .modal960 {
    margin-top: 0px;
    height: 600px;
}

.THIS .fillHeight {
    height: 480px;
}