.THIS .colorcircle {
    width:48px;
    height:48px;
    border-radius: 50%;
    background-position: center;
    margin-left: 48px;
}

.THIS .wide {
    width:90%;
    margin-left: 32px;
}

.THIS .infoblock {
    font-size: 11px;
    margin-top: 5px;
    color: #3E3E3C;
}

.THIS .infoblock .slds-input{
    background-color: rgba(233, 234, 236, 0.32);
    border-color: rgba(196, 198, 202, 0.4);
}
.THIS .infoblock .slds-input::placeholder {
    color: #888888;
}

.THIS .infoblock .slds-form-element__control {
    width: 130px;
}

.THIS .infoblock-wrapper{
    display: flex;
}

.THIS .myBoxy{
    cursor: pointer;
}

.THIS .boxSelect{
    border-color: rgb(53, 152, 224);
    border-width: 1px;
    -webkit-box-shadow: 0px 0px 2px 2px rgb(53, 152, 224);
    -moz-box-shadow: 0px 0px 2px 2px rgb(53, 152, 224);
    box-shadow: 0px 0px 2px 2px rgb(53, 152, 224);
}

.THIS .myBoxy:hover{
    border-color: rgb(53, 152, 224);
    border-width: 1px;
    -webkit-box-shadow: 0px 0px 2px 2px rgb(53, 152, 224);
    -moz-box-shadow: 0px 0px 2px 2px rgb(53, 152, 224);
    box-shadow: 0px 0px 2px 2px rgb(53, 152, 224);
}