.vehicle-wrapper{
    background-color: white;
}

.vehicle-container{
    display: flex;
    flex-direction: column;
    
}

.status-buttons{
       /* width: 38%; */
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       margin: 2% 5%;
      z-index: 10;
}
.status-buttons img{
    width: 23%;
}

/* @media (max-width: 767px) {
    .status-buttons{
        width: 22%;
        
    }
  }

@media  (min-width: 767px) and (max-width: 1540px) {
    .status-buttons{
        width: 30%;
    }
  }
  @media (min-width: 1540px){
    .status-buttons{
        padding-top: 12%;
        padding-bottom: 12%;
    }
  }
 */
.status-buttons .isActive{
    -webkit-box-shadow: 0px 0px 10px 2px rgba(187, 187, 187, 0.96);
    -moz-box-shadow: 0px 0px 10px 2px rgba(187, 187, 187, 0.96);
    box-shadow: 0px 0px 10px 2px rgba(187, 187, 187, 0.96);
    border-radius: 25px;
}

.status-buttons img:hover{
    -webkit-box-shadow: 0px 0px 10px 2px rgba(187, 187, 187, 0.96);
    -moz-box-shadow: 0px 0px 10px 2px rgba(187, 187, 187, 0.96);
    box-shadow: 0px 0px 10px 2px rgba(187, 187, 187, 0.96);
    border-radius: 25px;
}

.value-wrapper{
    background-color: white;
    width: 100%;
}
.value-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0%;
}
.value-container img{
    width: 30%;
    margin-right: 18%;
}


.status-img-container{
    width: 100%;
}