.THIS .feed{
    overflow-y: scroll;
    z-index: 2;
    
}
.THIS {
    position: relative;
}
.THIS .activity-icon {
    /*background-color: #1A5A73; uncomment to set icon background color*/
}
.THIS .slds-media__figure {
    z-index: 1;
}

.THIS ul li h3{
    padding-bottom: 4px;
}

.THIS ul li p{
    min-height: 30px;
}

.THIS .slds-media--timeline:before {
    z-index: 1;
}

.THIS .slds-media--timeline:before {
    z-index: 1;
}

.THIS .slds-timeline__icon {
    background-color: white;
}