
.THIS .menu_item_container {
    z-index: 4;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    -webkit-box-shadow: -1px 3px 5px 1px rgba(209,209,209,1);
    -moz-box-shadow: -1px 3px 5px 1px rgba(209,209,209,1);
    box-shadow: -1px 3px 5px 1px rgba(209,209,209,1);
    background-color: #fff;
}

.THIS .menu_item {
    display: inline-block;
    text-align: center;
    /* border-right: 1px solid #DEE1E3; */
    /* height: 90px; */
    /* padding-top: 15px; */
}

.THIS .menu_item_search {
    /* border-right: 1px solid #DEE1E3; */
   	padding: 1rem;
    /* height: 90px; */
    padding-top: 1.6rem;
}

.THIS .dealerportal {
    display: inline-block;
    text-align: center;
    /* height: 90px; */
    padding-top: 10px;
}

.THIS .icon_menu svg{
    fill:#8A8A8A ;    
}



.THIS .slds-icon-action-user {
    background-color: #8A8A8A ;
}

.THIS .menu_image {
    padding: 6px;
}

.THIS .menu_image_active {
    padding: 6px;
}

.THIS .mainContentArea{
    width: 100%;
    margin: 0 auto;
    z-index: -1;
}

.THIS .menu-link {
    color: #8a8a8a;
}

.THIS a:hover{
    color: #4A90E2;
    text-decoration: none;
}

.THIS a:hover svg{
    fill:#4A90E2;    
}

.THIS .selfServiceProfileMenuTrigger a {
    color:#8A8A8A;
}

.THIS .menu-link-active {
    color: #4A90E2;
    text-decoration: none;
}

.THIS .menu-link-active svg{
    fill:#4A90E2;
}


/* Volkswagen addon */

/*
.THIS .jVPQXo {
    width: 100%;
    padding-bottom: 12px;
    padding-top: 16px;
    height: 60px;
    transform: translateZ(0px);
    color: rgb(0, 30, 80);
    background-color: rgba(255, 255, 255, 0.98);
    transition: height 0.3s ease-in 0s;
}
*/



.THIS .imNMYb {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    pointer-events: none;
    position: absolute;
    top: 10px;
    height: 60px;
}
.THIS .hokKXU {
    flex-shrink: 0;
    pointer-events: auto;
    height: 32px;
    width: 32px;
    overflow: hidden;
    margin: 0px 8px;
}

.THIS .hokKXU {
    height: 48px;
    width: 48px;
    margin: 0px 12px;
}

.THIS .eOckfd {
    height: 2px;
    background-color: rgb(0, 30, 80);
    width: 100%;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.THIS .bsIxH {
    flex-basis: 270%;
}

.THIS .StyledPlainLink-fjvMhd{
    pointer-events: none;
    cursor: default;
}

.THIS .dAiRow{
    width: 36px;
    margin-left: 9px;
    margin-top: 6px;
}

.THIS .dealer-portal-text{
    width: 360px;
}