<?xml version="1.0" encoding="UTF-8"?>
<Package xmlns="http://soap.sforce.com/2006/04/metadata">
    <types>
        <members>DE_SignatureCaptureCont</members>
        <members>TestDriveController</members>
        <members>naviController</members>
        <members>orgActivityLogController</members>
        <members>weDemoController</members>
        <name>ApexClass</name>
    </types>
    <types>
        <members>DE_SignatureCapture</members>
        <members>Navi</members>
        <members>SI_signaturePad</members>
        <members>TestDriveContract</members>
        <members>UploadImage</members>
        <members>orgActivityLog</members>
        <members>weDemoManagement</members>
        <name>AuraDefinitionBundle</name>
    </types>
    <types>
        <members>Volkswagenlogo20151920x1080</members>
        <name>ContentAsset</name>
    </types>
    <types>
        <members>global_monitoring</members>
        <name>CustomApplication</name>
    </types>
    <types>
        <members>Navi</members>
        <members>Test_Drive__c</members>
        <members>dealer_event__c</members>
        <members>portal_feed_item__c</members>
        <members>we_demo_management</members>
        <name>CustomTab</name>
    </types>
    <types>
        <members>Navi</members>
        <members>global_monitoring_UtilityBar</members>
        <members>monitoring_home</members>
        <members>Vehicle_Record_Page1</members>
        <members>we_demo_management</members> 
        <name>FlexiPage</name>
    </types>
  
  <version>46.0</version>
</Package>