.THIS .submenuitem {
    display:flex;
    padding-left:16px;
    font-size: 14px;
    font-weight: 300;
    align-items: center;
    color: #706E6B;
    width: 100%;
    height: 60px;
    border-bottom: solid 1px #DEE1E3;
}

.THIS .submenucontent{
    background-color:#F6F6F6;
    border-bottom: solid 1px #DEE1E3;
}

.THIS .filter_element {
    padding: 8px 0 8px 64px;
    z-index: 0;
    font-size: 80%;
}