.THIS .customRadioCls .slds-form-element__control .slds-radio{
    display : inline-block !important;
}

.THIS .slds-modal__container{
    max-width: 70rem !important;
    width:90% !important;
    
}

.THIS #mygroup.slds-form-element .slds-checkbox [type=checkbox]+.slds-checkbox__label .slds-checkbox_faux{
    float:right;
}