@font-face{
    font-family: vw;
    src: url('fonts/VWTextWeb-Regular.woff2') format('woff2'), url('fonts/VWTextWeb-Regular.woff') format('woff')
  }


  @font-face{
    font-family: vw-bold;
    src: url('fonts/VWTextWeb-Bold.woff2') format('woff2'), url('fonts/VWTextWeb-Bold.woff') format('woff')
  }


  @font-face{
    font-family: vw-italic;
    src: url('fonts/VWTextWeb-RegularItalic.woff2') format('woff2'), url('fonts/VWTextWeb-RegularItalic.woff') format('woff')
  }


  @font-face{
    font-family: vw-bold-italic;
    src: url('fonts/VWTextWeb-BoldItalic.woff2') format('woff2'), url('fonts/VWTextWeb-BoldItalic.woff') format('woff')
  }


  @font-face{
    font-family: vw-head;
    src: url('fonts/VWHeadWeb-Bold.woff2') format('woff2'), url('fonts/VWHeadWeb-Bold.woff') format('woff')
  }

  svg {
    fill: currentColor;
  }

  .hidden {
      display: none !important;
  }

  .form-section__summary {
    white-space: nowrap !important;
  }

  .test-drive-choice-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .test-drive-choice-box {
    margin: 16px;
    border: 1px solid #bdc3c6;
    border-radius: 8px;
    padding: 16px;
    flex-basis: 500px;
  }

  .test-drive-choice-box:hover{
    background-color: #f8f8f8;
  }

  .selected{
    border: 1px solid #0099da;
  }

  .test-drive-choice-box img{
    height: 50px;
  }

  .test-drive-row-radio-icon {
    margin-right: 37px;
    margin-top: 35px;
    -ms-flex: none;
    flex: none;
    cursor: pointer;
    margin-left: 20px;
  }

  .test-drive-choice-box-text {
    display: flex;
    flex-direction: column;
    width:75%;
  }

  .test-drive-choice-box-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 104px;
    padding-left: 14px;
  }
  .radio-tdc {
    position: absolute;
    left: -200vw;
  }

  .data-choice-box {
    margin: 16px;
    border: 1px solid #bdc3c6;
    border-radius: 8px;
    padding: 16px;
  }

  .left {
    flex-basis: 400px;
    text-align: center;
  }

  .right {
    flex-basis: 1200px;
  }

  .legal-entity {
    width: 100%;
    height: 7rem;
    text-align: center;
  }

  .legal-entity-logo {
    margin: 2.25em auto 0.5em;
    background-image: url("img/vw-logo-96px.png");
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-size: 3rem;
  }

  .log-in-success-logo {
    margin: 2.25em auto 0.5em;
    background-image: url("img/log-in-success-logo.png");
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-size: 3rem;
  }

  .legal-entity-name {
    font-family: "vw-head", serif;
    font-size: 1rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #2f3538;
  }

  .center {
    margin: 1em 0 0 0 !important;
  }

  .top1em {
    margin-top: 1em;
  }

  .custom-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .custom-grid_1-of-2 {
    flex-grow: 1;
    padding: 16px;
  }

  .custom-grid_1-of-1 {
    flex-grow: 1;
    padding: 16px;
  }

  .custom-padding-112 {
    padding-top: 112px;
  }

  .totallycenter {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center }

  .fullsize {
    width: 100%;
    height: 100%;
  }

  .showmap {
    background-image: url("img/map.jpg");
    width: initial;
    height: initial;
    background-repeat: no-repeat;
    background-position: center;
  }