.THIS .header-image{
    height:50px;
    border-radius:.25rem .25rem 0 0;    
}
.THIS .customer-image-container{
    position: relative;
    margin-top: -32px;
    
}
.THIS .customer-avatar{
    
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid white;
}
.THIS .csat-icon {
 
    border: 1px solid white;
    border-radius:50%;
    position: absolute;
    right: 5px;
    bottom: 0;
    background-color: white;
     
}
.THIS .ellie .slds-icon-ellie{
    margin-top:3px;
}

.THIS .csat-icon-positive .slds-icon {
    fill: #4bca81 !important;
}
.THIS .csat-icon-negative .slds-icon {
    fill: #d4504c !important;
}
.THIS .csat-icon-neutral .slds-icon {
    fill: #ffb75d !important;
}
.THIS .grey-icon .slds-icon {
    fill: #706e6b !important;
    
}
.THIS .grey-icon {
    background-color: white;
}
.THIS .progress-bar-green .slds-progress-bar__value{
    background: #4bca81 !important;
    
}
.THIS .progress-bar-yellow .slds-progress-bar__value{
    background: #ffb75d !important;
    
}
.THIS .progress-bar-red .slds-progress-bar__value{
    background: #d4504c !important;
    
}
.THIS .progress-bar-value{
    border-radius:.5rem;
}
.THIS .title-weight {
    font-weight: 700;
}
.THIS.card-pull-margin{
    margin-top: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    
}
.THIS .font-regular{
    font-size: 13px;
}

.THIS.tiny {
    font-size: x-small;
}

.THIS .small {
    font-size: small;
}

.THIS .einstein {
    width: 24px;
	height: 24px;
}